<a href="https://colab.research.google.com/github/eduardodut/Mineracao_dados_textos_web/blob/master/projeto01_equipe01_entrega30062020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<b> EQUIPE: </b>
  - Eduardo Fa√ßanha
  - Giovanni Br√≠gido
  - Maur√≠cio Brito

<b> ATIVIDADE 01 </b> - Pr√©-processamento dos textos (Prazo: 11/05/2020 - 30%)

- Tokeniza√ß√£o
- Lematiza√ß√£o
- POS Tagging
- Normaliza√ß√£o (hashtags, men√ß√µes, emojis e s√≠mbolos especiais)
- Chunking
- NER (entidades nomeadas)
- Remo√ß√£o stop-words

<b> ATIVIDADE 02 </b> - Representa√ß√£o Sem√¢ntica (Prazo: 30/06/2020 - 30%)

- Uso de bases de conhecimento externas
- Identifica√ß√£o de t√≥picos
- Representa√ß√£o vetorial das palavras e textos

<b> ATIVIDADE 03 </b> - Analise da Linguagem Ofensiva - Subtarefas A e B (Prazo: 30/07/2020 - 40%)

- Resultado da subtarefa A para um conjunto de teste a ser fornecido
- Resultado da subtarefa B para um conjunto de teste a ser fornecido

<b> Carregamento do arquivo de dados e transforma√ß√£o em DataFrame </b>

√â realizado o download do arquivo e instanciado um DataFrame com os dados. A vari√°vel do DataFrame √© chamada 'tweets'

In [1]:
import pandas as pd
#download o arquivo localizado no repos√≠t√≥rio do projeto
!curl --remote-name \
    -H 'Accept: application/vnd.github.v3.raw' \
    --location https://raw.githubusercontent.com/eduardodut/Mineracao_dados_textos_web/master/datasets/olid-training-v1.0.tsv

#leitura para objeto dataframe
tweets = pd.read_csv('/content/olid-training-v1.0.tsv', sep='\t',encoding= 'utf-8')

#convers√£o da coluna 'id' de inteiro para string
tweets['id'] = tweets['id'].astype('str')

#visualiza√ß√£o dos primeiros registros

tweets = tweets[['subtask_c','subtask_b','subtask_a','id','tweet']]
tweets.head(20)

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1915k  100 1915k    0     0  2970k      0 --:--:-- --:--:-- --:--:-- 2970k

   subtask_c  ...                                              tweet
0        NaN  ...  @USER She should ask a few native Americans wh...
1        IND  ...  @USER @USER Go home you‚Äôre drunk!!! @USER #MAG...
2        NaN  ...  Amazon is investigating Chinese employees who ...
3        NaN  ...  @USER Someone should'veTaken" this piece of sh...
4        NaN  ...  @USER @USER Obama wanted liberals &amp; illega...
5        OTH  ...                  @USER Liberals are all Kookoo !!!
6        NaN  ...                   @USER @USER Oh noes! Tough shit.
7        GRP  ...  @USER was literally just talking about this lo...
8        NaN  ...                         @USER Buy more icecream!!!
9        IND  ...  @USER Canada doesn‚Äôt need another CUCK! We alr...
10       NaN  ...  @USER @USER @USER It‚Äôs not my fault you suppor...
11       NaN  ...  @USER What‚Äôs the difference between #Kavanaugh...
12       IND  ...  @USER you are a lying corrupt traitor!!! Nobod...
13       NaN  ...  @USER @USER @USER It should scare every Americ...
14       NaN  ...  @USER @USER @USER @USER @USER @USER @USER @USE...
15       NaN  ...               @USER you are also the king of taste
16       NaN  ...  #MAGA @USER  üé∂ Sing like no one is listening  ...
17       NaN  ...  5/5: @USER The time is right for this House to...
18       NaN  ...  @USER Besides Jax‚Äôs mom and maybe Ope he is ha...
19       OTH  ...  @USER @USER @USER gun control! That is all the...

[20 rows x 5 columns]

In [2]:
#verifica√ß√£o e remo√ß√£o de duplicatas
if tweets.duplicated(['tweet']).sum()>0:
  tweets.drop_duplicates(subset='tweet', keep='first', inplace=True)

print('TWEETS DUPLICADOS: ',tweets.duplicated(['tweet']).sum())

TWEETS DUPLICADOS:  0

<b> Tratamento inicial do texto </b>

Converte o texto de cada tweet, separadamente, em min√∫sculo e remove espa√ßos e tabula√ß√µes extras. O resultado √© guardado no DataFrame tweets em uma nova coluna.

Entrada: tweets['tweet']<br/>
Sa√≠da: tweets['tweet_tratado']

In [3]:
from nltk.tokenize import TweetTokenizer, sent_tokenize
import re
import string
from nltk.corpus import stopwords as sw

def tratamento_texto(tweet):
  
  tweet = tweet.lower()
  tweet = tweet.strip()
  
  #remove as men√ß√µes a usu√°rios de cada tweet
  # tweet = re.sub(r'@user', '', tweet, flags=re.MULTILINE)
  #remove as palavras url
  tweet = re.sub(r'url', '', tweet, flags=re.MULTILINE)
  #remove as quebras de linha
  tweet = re.sub(r'\n', '', tweet)
  #substitui tabula√ß√µes por um espa√ßo em branco
  tweet = re.sub(r'\t', ' ', tweet)
  #substitui um ou mais espa√ßos em branco por um espa√ßo
  tweet= re.sub(r'\s+', ' ', tweet, flags=re.I)
  #&amp;
  #remove aspas e ap√≥stofres
  # tweet = re.sub('[\'"‚Äò‚Äô‚Äú‚Äù‚Ä¶]', '', tweet)
  return tweet

#cria uma nova coluna no dataframe 'tweets' com cada tweet tokenizado
tweets['tweet_tratado'] = tweets['tweet'].apply(tratamento_texto)
tweets[tweets.columns[::-1]].head()

                                       tweet_tratado  ... subtask_c
0  @user she should ask a few native americans wh...  ...       NaN
1  @user @user go home you‚Äôre drunk!!! @user #mag...  ...       IND
2  amazon is investigating chinese employees who ...  ...       NaN
3  @user someone should'vetaken" this piece of sh...  ...       NaN
4  @user @user obama wanted liberals &amp; illega...  ...       NaN

[5 rows x 6 columns]

<b> Separa√ß√£o em senten√ßas </b>

Separa cada tweet em senten√ßas.

Entrada: tweets['tweet_tratado']<br/>
Sa√≠da: tweets['tweet_em_sentencas']

In [4]:
import nltk
from contextlib import redirect_stdout
import os

with redirect_stdout(open(os.devnull, "w")):
  nltk.download("stopwords") 
  nltk.download('punkt')

def separa_sentencas(tweet):
  
  lista_sentencas = sent_tokenize(tweet)
  # lista_setencas.str.strip()
  nova_lista = []
  for sent in lista_sentencas:
    nova_lista.append(sent.strip())

  return nova_lista #retorna lista de senten√ßas com a fun√ß√£o .strip() aplicada
tweets['tweet_em_sentencas'] = tweets['tweet_tratado'].apply(separa_sentencas)
tweets[tweets.columns[::-1]].head()

                                  tweet_em_sentencas  ... subtask_c
0  [@user she should ask a few native americans w...  ...       NaN
1  [@user @user go home you‚Äôre drunk!!!, @user #m...  ...       IND
2  [amazon is investigating chinese employees who...  ...       NaN
3  [@user someone should'vetaken" this piece of s...  ...       NaN
4  [@user @user obama wanted liberals &amp; illeg...  ...       NaN

[5 rows x 7 columns]

<b> Tokeniza√ß√£o </b>

Tokeniza√ß√£o do tweet.

Entrada: tweets['tweet_em_sentencas']<br/>
Sa√≠da: tweets['tweet_tokenizado']

In [5]:
def tokeniza_sentenca(lista_sentencas):
  # tokenizer = TweetTokenizer()
  # #uni√£o das senten√ßas
  # sentencas_unidas = " ".join(w for w in lista_sentencas)
  # #tokeniza√ß√£o das senten√ßas unidas
  # tokens = tokenizer.tokenize(sentencas_unidas)

  tokenizer = TweetTokenizer()
  tokens = []

  for sentenca in lista_sentencas:

    tokens.append(tokenizer.tokenize(sentenca))

  return tokens

tweets['tweet_tokenizado'] = tweets['tweet_em_sentencas'].apply(tokeniza_sentenca)
tweets[tweets.columns[::-1]].head()

                                    tweet_tokenizado  ... subtask_c
0  [[@user, she, should, ask, a, few, native, ame...  ...       NaN
1  [[@user, @user, go, home, you, ‚Äô, re, drunk, !...  ...       IND
2  [[amazon, is, investigating, chinese, employee...  ...       NaN
3  [[@user, someone, should'vetaken, ", this, pie...  ...       NaN
4  [[@user, @user, obama, wanted, liberals, &, il...  ...       NaN

[5 rows x 8 columns]

<b> POS Tagger </b>

Realiza a part of speech tagging do texto de cada token

Entrada: tweets['tweet_tokenizado']<br/>
Sa√≠da: tweets['tweet_POS_tagged']

In [6]:
from contextlib import redirect_stdout
import os

with redirect_stdout(open(os.devnull, "w")):
    nltk.download('averaged_perceptron_tagger')
# a fun√ß√£o map aplica a funcao nltk.post_tag para cada lista contida da coluna tweet tokenizado
 
def pos_taggeador(lista_tokens):
  setenca_taggeada = []
  for lista in lista_tokens:
    setenca_taggeada.append(nltk.pos_tag(lista))

  return setenca_taggeada

                                                        #apply(nltk.pos) se a coluna for composta de lista de tokens
tweets['tweet_POS_tagged'] = tweets['tweet_tokenizado'].apply(pos_taggeador)#
tweets[tweets.columns[::-1]].head()

                                    tweet_POS_tagged  ... subtask_c
0  [[(@user, IN), (she, PRP), (should, MD), (ask,...  ...       NaN
1  [[(@user, NNP), (@user, NNP), (go, VBP), (home...  ...       IND
2  [[(amazon, NN), (is, VBZ), (investigating, VBG...  ...       NaN
3  [[(@user, NN), (someone, NN), (should'vetaken,...  ...       NaN
4  [[(@user, NNP), (@user, NNP), (obama, NN), (wa...  ...       NaN

[5 rows x 9 columns]

**Chunking**

Separa√ß√£o de cada senten√ßa em chunks. 

Entrada: tweets['tweet_POS_tagged']<br/>
Sa√≠da: tweets['tweet_chunked']

In [7]:
from nltk.chunk import conlltags2tree, tree2conlltags

pattern = 'NP: {<DT>?<JJ>*<NN>}'
pattern1 = 'NP: {<DT>?<JJ>*<NN.*>*}'
pattern2 = 'NP: {<DT><NN.*><.*>*<NN.*>}'

def chunker(lista_tweets_pos_tagged):

  lista_saida = []

  pattern = 'NP: {<DT>?<JJ>*<NN>}'
  pattern1 = 'NP: {<DT>?<JJ>*<NN.*>*}'
  pattern2 = 'NP: {<DT><NN.*><.*>*<NN.*>}'


  for lista in lista_tweets_pos_tagged:
    cp = nltk.RegexpParser(pattern1)
    cs = cp.parse(lista)
    iob_tagged = tree2conlltags(cs)
    
    lista_saida.append(iob_tagged)
  return lista_saida


tweets['tweet_chunked'] = tweets['tweet_POS_tagged'].apply(chunker)

tweets[tweets.columns[::-1]].head()

                                       tweet_chunked  ... subtask_c
0  [[(@user, IN, O), (she, PRP, O), (should, MD, ...  ...       NaN
1  [[(@user, NNP, B-NP), (@user, NNP, I-NP), (go,...  ...       IND
2  [[(amazon, NN, B-NP), (is, VBZ, O), (investiga...  ...       NaN
3  [[(@user, NN, B-NP), (someone, NN, I-NP), (sho...  ...       NaN
4  [[(@user, NNP, B-NP), (@user, NNP, I-NP), (oba...  ...       NaN

[5 rows x 10 columns]

<b> NER </b>

Realiza a reconhecimento de entidades, NER.

Entrada: tweets['tweet_POS_tagged']<br/>
Sa√≠da: tweets['tweet_NER']

In [8]:
from nltk.tag import pos_tag
from nltk.chunk import conlltags2tree, tree2conlltags
from pprint import pprint
from nltk.chunk.regexp import ChunkString, ChunkRule, ChinkRule 
from nltk.tree import Tree 
from contextlib import redirect_stdout
import os

with redirect_stdout(open(os.devnull, "w")):
    nltk.download('maxent_ne_chunker')
    nltk.download('words')

def ner(lista_tokens_taggeados):
  lista_tokens_ner = []
  for lista in lista_tokens_taggeados:
    lista_tokens_ner.append(nltk.ne_chunk(lista))

  return lista_tokens_ner


tweets['tweet_NER'] = tweets['tweet_POS_tagged'].apply(ner)
tweets[tweets.columns[::-1]].head()

                                           tweet_NER  ... subtask_c
0  [[(@user, IN), (she, PRP), (should, MD), (ask,...  ...       NaN
1  [[(@user, NNP), (@user, NNP), (go, VBP), (home...  ...       IND
2  [[(amazon, NN), (is, VBZ), (investigating, VBG...  ...       NaN
3  [[(@user, NN), (someone, NN), (should'vetaken,...  ...       NaN
4  [[(@user, NNP), (@user, NNP), (obama, NN), (wa...  ...       NaN

[5 rows x 11 columns]

<b> Remo√ß√£o de stop words </b>

Remove da lista de tokens de cada tweet as stop words da l√≠ngua inglesa e pontua√ß√µes.

Entradas:<br/>
         * tweets['tweet_tokenizado']<br/>
         * tweets['tweet_ner']<br/>
         * tweets['tweet_chunked']<br/>

Sa√≠da:<br/>
         * tweets['tokens_sem_stopwords']<br/>
         * tweets['NER_sem_stopwords'] <br/>
         * tweets['chunks_sem_stopwords']<br/>

In [9]:
from contextlib import redirect_stdout
import os
# import string library function  
from string import punctuation
    


def remove_stop_words(lista_token_sentenca):
  '''Fun√ß√£o de remo√ß√£o de stop word que recebe lista de tokens e devolve
  lista de tokens
  '''
  with redirect_stdout(open(os.devnull, "w")):
    nltk.download("stopwords") 
    nltk.download('punkt')
  
  stopwords = sw.words('english')
  stop_words = set(stopwords + list(punctuation ))

  lista_saida = []

  for lista_tokens in lista_token_sentenca:
    tokens = [w for w in lista_tokens if not w in stop_words]
    lista_saida.append(tokens)


  return lista_saida

def remove_stop_words_tuplas(lista_tuplas_sentencas):
  '''Fun√ß√£o de remo√ß√£o de stop word que recebe lista de tuplas de token e tag e devolve
  lista de tuplas de token e tag
  '''
  with redirect_stdout(open(os.devnull, "w")):
    nltk.download("stopwords") 
    nltk.download('punkt')
  
  stopwords = sw.words('english')
  stop_words = set(stopwords + list(punctuation ))
  lista_saida = []
  for lista_tuplas in lista_tuplas_sentencas:
    tuplas = [w for w in lista_tuplas if not w[0] in stop_words]
    lista_saida.append(tuplas)
  return lista_saida

tweets['tokens_sem_stopwords'] = tweets['tweet_tokenizado'].apply(remove_stop_words)
tweets['NER_sem_stopwords'] = tweets['tweet_NER'].apply(remove_stop_words_tuplas)
tweets['chunks_sem_stopwords'] = tweets['tweet_chunked'].apply(remove_stop_words_tuplas)
tweets[tweets.columns[::-1]].head()

                                chunks_sem_stopwords  ... subtask_c
0  [[(@user, IN, O), (ask, VB, O), (native, JJ, I...  ...       NaN
1  [[(@user, NNP, B-NP), (@user, NNP, I-NP), (go,...  ...       IND
2  [[(amazon, NN, B-NP), (investigating, VBG, O),...  ...       NaN
3  [[(@user, NN, B-NP), (someone, NN, I-NP), (sho...  ...       NaN
4  [[(@user, NNP, B-NP), (@user, NNP, I-NP), (oba...  ...       NaN

[5 rows x 14 columns]

<b> Fim da atividade 01 </b>

Tem-se como principais entregas as colunas tweets['tokens_sem_stopwords'] e tweets['NER_sem_stopwords'] do dataset tweets.

In [0]:
tweets[['NER_sem_stopwords','chunks_sem_stopwords']].head()

                                   NER_sem_stopwords                               chunks_sem_stopwords
0  [[(ask, VB), (native, JJ), (americans, NNS), (...  [[(ask, VB, O), (native, JJ, I-NP), (americans...
1  [[(go, VB), (home, NN), (‚Äô, VBP), (drunk, NN)]...  [[(go, VB, O), (home, NN, B-NP), (‚Äô, VBP, O), ...
2  [[(amazon, NN), (investigating, VBG), (chinese...  [[(amazon, NN, B-NP), (investigating, VBG, O),...
3  [[(someone, NN), (should'vetaken, VBD), (piece...  [[(someone, NN, B-NP), (should'vetaken, VBD, O...
4  [[(obama, RB), (wanted, VBD), (liberals, NNS),...  [[(obama, RB, O), (wanted, VBD, O), (liberals,...

base externa: wordnet lemmatizer?
N√£o deixar palavras de meio de senten√ßa em min√∫sculo pois podem ser entidades
identificar "typos"
Remover n-grams de alta frequ√™ncia (n√£o adicionam informa√ß√£o), e de  baixa frequ√™ncia com erros (para prevenir overfit)

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
texts = [
    "good movie", "not a good movie", "did not like", 
    "i like it", "good one"
]
# using default tokenizer in TfidfVectorizer
tfidf = TfidfVectorizer(min_df=2, max_df=0.5, ngram_range=(1, 2))
features = tfidf.fit_transform(texts)
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)