<a href="https://colab.research.google.com/github/eduardodut/Mineracao_dados_textos_web/blob/master/projeto01_equipe01_entrega27042020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<b> EQUIPE: </b>
  - Eduardo Fa√ßanha
  - Giovanni Br√≠gido
  - Maur√≠cio Brito

<b> ATIVIDADE 01 </b> - Pr√©-processamento dos textos (Prazo: 11/05/2020 - 30%)

- Tokeniza√ß√£o
- Lematiza√ß√£o
- POS Tagging
- Normaliza√ß√£o (hashtags, men√ß√µes, emojis e s√≠mbolos especiais)
- NER (entidades nomeadas)
- Remo√ß√£o stop-words

<b> ATIVIDADE 02 </b> - Representa√ß√£o Sem√¢ntica (Prazo: 22/06/2020 - 30%)

- Uso de bases de conhecimento externas
- Identifica√ß√£o de t√≥picos
- Representa√ß√£o vetorial das palavras e textos

<b> ATIVIDADE 03 </b> - Analise da Linguagem Ofensiva - Subtarefas A e B (Prazo: 27/07/2020 - 40%)

- Resultado da subtarefa A para um conjunto de teste a ser fornecido
- Resultado da subtarefa B para um conjunto de teste a ser fornecido

<b> ATIVIDADE 01 (parcial)</b>
  - Leitura do arquivo txt (tratar os tweets separadamente)
  - Tratamento de hashtags, men√ß√µes, emojis e s√≠mbolos especiais, valores, datas
  - Separa√ß√£o das senten√ßas e Tokeniza√ß√£o
  - Remo√ß√£o stop-words

<b> Carregamento do arquivo de dados e transforma√ß√£o em DataFrame </b>

√â realizado o download do arquivo e instanciado um DataFrame com os dados. A vari√°vel do DataFrame √© chamada 'tweets'

In [265]:
import pandas as pd
#download o arquivo localizado no repos√≠t√≥rio do projeto
!curl --remote-name \
    -H 'Accept: application/vnd.github.v3.raw' \
    --location https://raw.githubusercontent.com/eduardodut/Mineracao_dados_textos_web/master/datasets/olid-training-v1.0.tsv

#leitura para objeto dataframe
tweets = pd.read_csv('/content/olid-training-v1.0.tsv', sep='\t',encoding= 'utf-8')

#convers√£o da coluna 'id' de inteiro para string
tweets['id'] = tweets['id'].astype('str')

#visualiza√ß√£o dos primeiros registros
tweets.head()

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1915k  100 1915k    0     0  3007k      0 --:--:-- --:--:-- --:--:-- 3007k

      id                                              tweet  ... subtask_b subtask_c
0  86426  @USER She should ask a few native Americans wh...  ...       UNT       NaN
1  90194  @USER @USER Go home you‚Äôre drunk!!! @USER #MAG...  ...       TIN       IND
2  16820  Amazon is investigating Chinese employees who ...  ...       NaN       NaN
3  62688  @USER Someone should'veTaken" this piece of sh...  ...       UNT       NaN
4  43605  @USER @USER Obama wanted liberals &amp; illega...  ...       NaN       NaN

[5 rows x 5 columns]

In [0]:
#drop das colunas que come√ßam com 'sub'
tweets.drop(tweets.columns[tweets.columns.str.startswith('sub')], axis=1,inplace=True)

In [267]:
#verifica√ß√£o e remo√ß√£o de duplicatas
if tweets.duplicated(['tweet']).sum()>0:
  tweets.drop_duplicates(subset='tweet', keep='first', inplace=True)

print('VALORES DUPLICADOS: ',tweets.duplicated(['tweet']).sum())

VALORES DUPLICADOS:  0

<b> Tratamento inicial do texto </b>

Converte o texto de cada tweet, separadamente, em min√∫sculo e remove espa√ßos e tabula√ß√µes extras. O resultado e guardado no DataFrame tweets em uma nova coluna.

In [268]:
from nltk.tokenize import TweetTokenizer, sent_tokenize
import re
import string
from nltk.corpus import stopwords as sw

def tratamento_texto(tweet):
  
  tweet = tweet.lower()
  tweet = tweet.strip()
  
  #remove as men√ß√µes a usu√°rios de cada tweet
  tweet = re.sub(r'@user', '', tweet, flags=re.MULTILINE)
  
  #remove as quebras de linha
  tweet = re.sub('\n', '', tweet)
  #substitui tabula√ß√µes por um espa√ßo em branco
  tweet = re.sub('\t', ' ', tweet)
  #substitui um ou mais espa√ßos em branco por um espa√ßo
  tweet= re.sub(r'\s+', ' ', tweet, flags=re.I)
  
  #remove aspas e ap√≥stofres
  tweet = re.sub('[‚Äò‚Äô‚Äú‚Äù‚Ä¶]', '', tweet)
  return tweet

#cria uma nova coluna no dataframe 'tweets' com cada tweet tokenizado
tweets['tweet_tratado'] = tweets['tweet'].apply(tratamento_texto)
tweets[tweets.columns[::-1]].head()

                                       tweet_tratado  ...     id
0   she should ask a few native americans what th...  ...  86426
1   go home youre drunk!!! #maga #trump2020 üëäüá∫üá∏üëä url  ...  90194
2  amazon is investigating chinese employees who ...  ...  16820
3   someone should'vetaken" this piece of shit to...  ...  62688
4   obama wanted liberals &amp; illegals to move ...  ...  43605

[5 rows x 3 columns]

<b> Separa√ß√£o em senten√ßas </b>

Separa cada tweet em senten√ßas e os coloca no DataFrame, em uma nova coluna

In [269]:
def separa_sentencas(tweet):
  
  lista_sentencas = sent_tokenize(tweet)
  nova_lista = []
  for sent in lista_sentencas:
    nova_lista.append(sent.strip())

  return nova_lista
tweets['tweet_em_sentencas']  = tweets['tweet_tratado'].apply(separa_sentencas)
tweets[tweets.columns[::-1]].head()

                                  tweet_em_sentencas  ...     id
0  [she should ask a few native americans what th...  ...  86426
1  [go home youre drunk!!!, #maga #trump2020 üëäüá∫üá∏üëä...  ...  90194
2  [amazon is investigating chinese employees who...  ...  16820
3  [someone should'vetaken" this piece of shit to...  ...  62688
4  [obama wanted liberals &amp; illegals to move ...  ...  43605

[5 rows x 4 columns]

<b> Tokeniza√ß√£o </b>

Re√∫ne as senten√ßas em uma string √∫nica e realiza a tokeniza√ß√£o do tweet. O resultado pode ser observado em uma nova coluna.

In [272]:
def tokeniza_sentenca(lista_sentencas):
  tokenizer = TweetTokenizer()
  sentencas_unidas = " ".join(w for w in lista_sentencas)
  tokens = tokenizer.tokenize(sentencas_unidas)

  return tokens

tweets['tweet_tokenizado'] = tweets['tweet_em_sentencas'].apply(tokeniza_sentenca)
tweets[tweets.columns[::-1]].head()

                                tokens_sem_stopwords  ...     id
0                     [ask, native, americans, take]  ...  86426
1  [go, home, youre, drunk, #maga, #trump2020, üëä,...  ...  90194
2  [amazon, investigating, chinese, employees, se...  ...  16820
3  [someone, should'vetaken, piece, shit, volcano...  ...  62688
4  [obama, wanted, liberals, illegals, move, red,...  ...  43605

[5 rows x 6 columns]

<b> Remo√ß√£o de stop words </b>

Remove da lista de tokens de cada tweet as stop words da l√≠ngua inglesa e pontua√ß√µes.

In [273]:
from contextlib import redirect_stdout
import os
def remove_stop_words(lista_tokens):
  
  with redirect_stdout(open(os.devnull, "w")):
    nltk.download("stopwords") 
    nltk.download('punkt')
  
  stopwords = sw.words('english')
  stop_words = set(stopwords + list(punctuation))

  tokens = [w for w in lista_tokens if not w in stop_words]

  return tokens

tweets['tokens_sem_stopwords'] = tweets['tweet_tokenizado'].apply(remove_stop_words)
tweets[tweets.columns[::-1]].head()

                                tokens_sem_stopwords  ...     id
0                     [ask, native, americans, take]  ...  86426
1  [go, home, youre, drunk, #maga, #trump2020, üëä,...  ...  90194
2  [amazon, investigating, chinese, employees, se...  ...  16820
3  [someone, should'vetaken, piece, shit, volcano...  ...  62688
4  [obama, wanted, liberals, illegals, move, red,...  ...  43605

[5 rows x 6 columns]