<a href="https://colab.research.google.com/github/eduardodut/Mineracao_dados_textos_web/blob/master/projeto01_equipe01_Atividade02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<b> EQUIPE: </b>
  - Eduardo Fa√ßanha
  - Giovanni Br√≠gido
  - Maur√≠cio Brito

<b> ATIVIDADE 01 </b> - Pr√©-processamento dos textos (Prazo: 11/05/2020 - 30%)

- Tokeniza√ß√£o
- Lematiza√ß√£o
- POS Tagging
- Normaliza√ß√£o (hashtags, men√ß√µes, emojis e s√≠mbolos especiais)
- Chunking
- NER (entidades nomeadas)
- Remo√ß√£o stop-words

<b> ATIVIDADE 02 </b> - Representa√ß√£o Sem√¢ntica (Prazo: 30/06/2020 - 30%)

- Uso de bases de conhecimento externas
- Identifica√ß√£o de t√≥picos
- Representa√ß√£o vetorial das palavras e textos

<b> ATIVIDADE 03 </b> - Analise da Linguagem Ofensiva - Subtarefas A e B (Prazo: 30/07/2020 - 40%)

- Resultado da subtarefa A para um conjunto de teste a ser fornecido
- Resultado da subtarefa B para um conjunto de teste a ser fornecido

## Atividade 01

### Carregamento do arquivo de dados e transforma√ß√£o em DataFrame

√â realizado o download do arquivo e instanciado um DataFrame com os dados. A vari√°vel do DataFrame √© chamada 'tweets'

In [236]:
import pandas as pd
#download o arquivo localizado no repos√≠t√≥rio do projeto
!curl --remote-name \
    -H 'Accept: application/vnd.github.v3.raw' \
    --location https://raw.githubusercontent.com/eduardodut/Mineracao_dados_textos_web/master/datasets/olid-training-v1.0.tsv

#leitura para objeto dataframe
tweets = pd.read_csv('/content/olid-training-v1.0.tsv', sep='\t',encoding= 'utf-8')

#convers√£o da coluna 'id' de inteiro para string
tweets['id'] = tweets['id'].astype('str')

#visualiza√ß√£o dos primeiros registros

tweets = tweets[['subtask_c','subtask_b','subtask_a','id','tweet']]
tweets.head(20)

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1915k  100 1915k    0     0  4789k      0 --:--:-- --:--:-- --:--:-- 4789k

   subtask_c  ...                                              tweet
0        NaN  ...  @USER She should ask a few native Americans wh...
1        IND  ...  @USER @USER Go home you‚Äôre drunk!!! @USER #MAG...
2        NaN  ...  Amazon is investigating Chinese employees who ...
3        NaN  ...  @USER Someone should'veTaken" this piece of sh...
4        NaN  ...  @USER @USER Obama wanted liberals &amp; illega...
5        OTH  ...                  @USER Liberals are all Kookoo !!!
6        NaN  ...                   @USER @USER Oh noes! Tough shit.
7        GRP  ...  @USER was literally just talking about this lo...
8        NaN  ...                         @USER Buy more icecream!!!
9        IND  ...  @USER Canada doesn‚Äôt need another CUCK! We alr...
10       NaN  ...  @USER @USER @USER It‚Äôs not my fault you suppor...
11       NaN  ...  @USER What‚Äôs the difference between #Kavanaugh...
12       IND  ...  @USER you are a lying corrupt traitor!!! Nobod...
13       NaN  ...  @USER @USER @USER It should scare every Americ...
14       NaN  ...  @USER @USER @USER @USER @USER @USER @USER @USE...
15       NaN  ...               @USER you are also the king of taste
16       NaN  ...  #MAGA @USER  üé∂ Sing like no one is listening  ...
17       NaN  ...  5/5: @USER The time is right for this House to...
18       NaN  ...  @USER Besides Jax‚Äôs mom and maybe Ope he is ha...
19       OTH  ...  @USER @USER @USER gun control! That is all the...

[20 rows x 5 columns]

In [237]:
#verifica√ß√£o e remo√ß√£o de duplicatas
if tweets.duplicated(['tweet']).sum()>0:
  tweets.drop_duplicates(subset='tweet', keep='first', inplace=True)

print('TWEETS DUPLICADOS: ',tweets.duplicated(['tweet']).sum())

TWEETS DUPLICADOS:  0

### Tratamento inicial do texto

Converte o texto de cada tweet, separadamente, em min√∫sculo e remove espa√ßos e tabula√ß√µes extras. O resultado √© guardado no DataFrame tweets em uma nova coluna.

Entrada: tweets['tweet']<br/>
Sa√≠da: tweets['tweet_tratado']

In [238]:
from nltk.tokenize import TweetTokenizer, sent_tokenize
import re
import string
from nltk.corpus import stopwords as sw

def tratamento_texto(tweet):
  
  tweet = tweet.lower()
  tweet = tweet.strip()
  
  #remove as men√ß√µes a usu√°rios de cada tweet
  # tweet = re.sub(r'@user', '', tweet, flags=re.MULTILINE)
  #remove as palavras url
  tweet = re.sub(r'url', '', tweet, flags=re.MULTILINE)
  #remove as quebras de linha
  tweet = re.sub(r'\n', '', tweet)
  #substitui tabula√ß√µes por um espa√ßo em branco
  tweet = re.sub(r'\t', ' ', tweet)
  #substitui um ou mais espa√ßos em branco por um espa√ßo
  tweet= re.sub(r'\s+', ' ', tweet, flags=re.I)
  #&amp;
  #remove aspas e ap√≥stofres
  tweet = re.sub('[\'"‚Äò‚Äô‚Äú‚Äù‚Ä¶]', '', tweet)
  #remove aspas e ap√≥stofres
  tweet = re.sub('^#$', '', tweet)
  tweet = re.sub('@', '', tweet)
  return tweet

#cria uma nova coluna no dataframe 'tweets' com cada tweet tokenizado
tweets['tweet_tratado'] = tweets['tweet'].apply(tratamento_texto)
tweets[tweets.columns[::-1]].head()

                                       tweet_tratado  ... subtask_c
0  user she should ask a few native americans wha...  ...       NaN
1  user user go home youre drunk!!! user #maga #t...  ...       IND
2  amazon is investigating chinese employees who ...  ...       NaN
3  user someone shouldvetaken this piece of shit ...  ...       NaN
4  user user obama wanted liberals &amp; illegals...  ...       NaN

[5 rows x 6 columns]

In [239]:
tweets.tweet_tratado[1]

'user user go home youre drunk!!! user #maga #trump2020 üëäüá∫üá∏üëä '

<b> Separa√ß√£o em senten√ßas </b>

Separa cada tweet em senten√ßas.

Entrada: tweets['tweet_tratado']<br/>
Sa√≠da: tweets['tweet_em_sentencas']

In [240]:
import nltk
from contextlib import redirect_stdout
import os

with redirect_stdout(open(os.devnull, "w")):
  nltk.download("stopwords") 
  nltk.download('punkt')

def separa_sentencas(tweet):
  
  lista_sentencas = sent_tokenize(tweet)
  # lista_setencas.str.strip()
  nova_lista = []
  for sent in lista_sentencas:
    nova_lista.append(sent.strip())

  return nova_lista #retorna lista de senten√ßas com a fun√ß√£o .strip() aplicada
tweets['tweet_em_sentencas'] = tweets['tweet_tratado'].apply(separa_sentencas)
tweets[tweets.columns[::-1]].head()

                                  tweet_em_sentencas  ... subtask_c
0  [user she should ask a few native americans wh...  ...       NaN
1  [user user go home youre drunk!!!, user #maga ...  ...       IND
2  [amazon is investigating chinese employees who...  ...       NaN
3  [user someone shouldvetaken this piece of shit...  ...       NaN
4  [user user obama wanted liberals &amp; illegal...  ...       NaN

[5 rows x 7 columns]

### Tokeniza√ß√£o 

Tokeniza√ß√£o do tweet.

Entrada: tweets['tweet_em_sentencas']<br/>
Sa√≠da: tweets['tweet_tokenizado']

In [241]:
import string as punctuation

nltk.download('punkt')
def tokeniza_sentenca(lista_sentencas):
  # tokenizer = TweetTokenizer()
  # #uni√£o das senten√ßas
  # sentencas_unidas = " ".join(w for w in lista_sentencas)
  # #tokeniza√ß√£o das senten√ßas unidas
  # tokens = tokenizer.tokenize(sentencas_unidas)

  tokenizer = TweetTokenizer()
  tokens = []
  
  for sentenca in lista_sentencas:
    lista_tokens = tokenizer.tokenize(sentenca)
       
    sentenca_sem_stopword = []

    for token in lista_tokens:
      if token not in string.punctuation:
        sentenca_sem_stopword.append(token)

    tokens.append(sentenca_sem_stopword)

  # tweet = re.sub('[\'"‚Äò‚Äô‚Äú‚Äù!‚Ä¶]', '', tweet)

  return tokens


# tokeniza_sentenca(tweets['tweet_em_sentencas'][2])

tweets['tweet_tokenizado'] = tweets['tweet_em_sentencas'].apply(tokeniza_sentenca)
tweets[tweets.columns[::-1]].head()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

                                    tweet_tokenizado  ... subtask_c
0  [[user, she, should, ask, a, few, native, amer...  ...       NaN
1  [[user, user, go, home, youre, drunk], [user, ...  ...       IND
2  [[amazon, is, investigating, chinese, employee...  ...       NaN
3  [[user, someone, shouldvetaken, this, piece, o...  ...       NaN
4  [[user, user, obama, wanted, liberals, illegal...  ...       NaN

[5 rows x 8 columns]

### POS Tagger

Realiza a part of speech tagging do texto de cada token

Entrada: tweets['tweet_tokenizado']<br/>
Sa√≠da: tweets['tweet_POS_tagged']

In [243]:
from contextlib import redirect_stdout
import os

with redirect_stdout(open(os.devnull, "w")):
    nltk.download('averaged_perceptron_tagger')
# a fun√ß√£o map aplica a funcao nltk.post_tag para cada lista contida da coluna tweet tokenizado
 
def pos_taggeador(lista_tokens):
  setenca_taggeada = []
  for lista in lista_tokens:
    setenca_taggeada.append(nltk.pos_tag(lista))

  return setenca_taggeada

                                                        #apply(nltk.pos) se a coluna for composta de lista de tokens
tweets['tweet_POS_tagged'] = tweets['tweet_tokenizado'].apply(pos_taggeador)#
tweets[tweets.columns[::-1]].head()

                                    tweet_POS_tagged  ... subtask_c
0  [[(user, IN), (she, PRP), (should, MD), (ask, ...  ...       NaN
1  [[(user, NN), (user, NN), (go, VBP), (home, NN...  ...       IND
2  [[(amazon, NN), (is, VBZ), (investigating, VBG...  ...       NaN
3  [[(user, NN), (someone, NN), (shouldvetaken, V...  ...       NaN
4  [[(user, RB), (user, JJ), (obama, NN), (wanted...  ...       NaN

[5 rows x 9 columns]

### Chunking

Separa√ß√£o de cada senten√ßa em chunks. 

Entrada: tweets['tweet_POS_tagged']<br/>
Sa√≠da: tweets['tweet_chunked']

In [ ]:
from nltk.chunk import conlltags2tree, tree2conlltags

pattern = 'NP: {<DT>?<JJ>*<NN>}'
pattern1 = 'NP: {<DT>?<JJ>*<NN.*>*}'
pattern2 = 'NP: {<DT><NN.*><.*>*<NN.*>}'

def chunker(lista_tweets_pos_tagged):

  lista_saida = []

  pattern = 'NP: {<DT>?<JJ>*<NN>}'
  pattern1 = 'NP: {<DT>?<JJ>*<NN.*>*}'
  pattern2 = 'NP: {<DT><NN.*><.*>*<NN.*>}'


  for lista in lista_tweets_pos_tagged:
    cp = nltk.RegexpParser(pattern1)
    cs = cp.parse(lista)
    iob_tagged = tree2conlltags(cs)
    
    lista_saida.append(iob_tagged)
  return lista_saida


tweets['tweet_chunked'] = tweets['tweet_POS_tagged'].apply(chunker)

tweets[tweets.columns[::-1]].head()

### NER 

Realiza a reconhecimento de entidades, NER.

Entrada: tweets['tweet_POS_tagged']<br/>
Sa√≠da: tweets['tweet_NER']

In [245]:
from nltk.tag import pos_tag
from nltk.chunk import conlltags2tree, tree2conlltags
from pprint import pprint
from nltk.chunk.regexp import ChunkString, ChunkRule, ChinkRule 
from nltk.tree import Tree 
from contextlib import redirect_stdout
import os

with redirect_stdout(open(os.devnull, "w")):
    nltk.download('maxent_ne_chunker')
    nltk.download('words')

def ner(lista_tokens_taggeados):
  lista_tokens_ner = []
  for lista in lista_tokens_taggeados:
    lista_tokens_ner.append(nltk.ne_chunk(lista))

  return lista_tokens_ner


tweets['tweet_NER'] = tweets['tweet_POS_tagged'].apply(ner)
tweets[tweets.columns[::-1]].head()

                                           tweet_NER  ... subtask_c
0  [[(user, IN), (she, PRP), (should, MD), (ask, ...  ...       NaN
1  [[(user, NN), (user, NN), (go, VBP), (home, NN...  ...       IND
2  [[(amazon, NN), (is, VBZ), (investigating, VBG...  ...       NaN
3  [[(user, NN), (someone, NN), (shouldvetaken, V...  ...       NaN
4  [[(user, RB), (user, JJ), (obama, NN), (wanted...  ...       NaN

[5 rows x 11 columns]

### Remo√ß√£o de stop words

Remove da lista de tokens de cada tweet as stop words da l√≠ngua inglesa e pontua√ß√µes.

Entradas:<br/>
         * tweets['tweet_tokenizado']<br/>
         * tweets['tweet_ner']<br/>
         * tweets['tweet_chunked']<br/>

Sa√≠da:<br/>
         * tweets['tokens_sem_stopwords']<br/>
         * tweets['NER_sem_stopwords'] <br/>
         * tweets['chunks_sem_stopwords']<br/>

In [246]:
from contextlib import redirect_stdout
import os
# import string library function  
from string import punctuation
    


def remove_stop_words(lista_token_sentenca):
  '''Fun√ß√£o de remo√ß√£o de stop word que recebe lista de tokens e devolve
  lista de tokens
  '''
  with redirect_stdout(open(os.devnull, "w")):
    nltk.download("stopwords") 
    nltk.download('punkt')
  
  stopwords = sw.words('english')
  stop_words = set(stopwords + list(punctuation ))

  lista_saida = []

  for lista_tokens in lista_token_sentenca:
    tokens = [w for w in lista_tokens if not w in stop_words]
    lista_saida.append(tokens)


  return lista_saida

def remove_stop_words_tuplas(lista_tuplas_sentencas):
  '''Fun√ß√£o de remo√ß√£o de stop word que recebe lista de tuplas de token e tag e devolve
  lista de tuplas de token e tag
  '''
  with redirect_stdout(open(os.devnull, "w")):
    nltk.download("stopwords") 
    nltk.download('punkt')
  
  stopwords = sw.words('english')
  stop_words = set(stopwords + list(punctuation ))
  lista_saida = []
  for lista_tuplas in lista_tuplas_sentencas:
    tuplas = [w for w in lista_tuplas if not w[0] in stop_words]
    lista_saida.append(tuplas)
  return lista_saida

tweets['tokens_sem_stopwords'] = tweets['tweet_tokenizado'].apply(remove_stop_words)
tweets['NER_sem_stopwords'] = tweets['tweet_NER'].apply(remove_stop_words_tuplas)
tweets['chunks_sem_stopwords'] = tweets['tweet_chunked'].apply(remove_stop_words_tuplas)
tweets[tweets.columns[::-1]].head()

                                chunks_sem_stopwords  ... subtask_c
0  [[(user, IN, O), (ask, VB, O), (native, JJ, I-...  ...       NaN
1  [[(user, NN, B-NP), (user, NN, I-NP), (go, VBP...  ...       IND
2  [[(amazon, NN, B-NP), (investigating, VBG, O),...  ...       NaN
3  [[(user, NN, B-NP), (someone, NN, I-NP), (shou...  ...       NaN
4  [[(user, RB, O), (user, JJ, B-NP), (obama, NN,...  ...       NaN

[5 rows x 14 columns]

<b> Fim da atividade 01 </b>

Tem-se como principais entregas as colunas tweets['tokens_sem_stopwords'] e tweets['NER_sem_stopwords'] do dataset tweets.

In [247]:
tweets[['NER_sem_stopwords','chunks_sem_stopwords']].head()

                                   NER_sem_stopwords                               chunks_sem_stopwords
0  [[(user, IN), (ask, VB), (native, JJ), (americ...  [[(user, IN, O), (ask, VB, O), (native, JJ, I-...
1  [[(user, NN), (user, NN), (go, VBP), (home, NN...  [[(user, NN, B-NP), (user, NN, I-NP), (go, VBP...
2  [[(amazon, NN), (investigating, VBG), (chinese...  [[(amazon, NN, B-NP), (investigating, VBG, O),...
3  [[(user, NN), (someone, NN), (shouldvetaken, V...  [[(user, NN, B-NP), (someone, NN, I-NP), (shou...
4  [[(user, RB), (user, JJ), (obama, NN), (wanted...  [[(user, RB, O), (user, JJ, B-NP), (obama, NN,...

base externa: wordnet lemmatizer?
N√£o deixar palavras de meio de senten√ßa em min√∫sculo pois podem ser entidades
identificar "typos"
Remover n-grams de alta frequ√™ncia (n√£o adicionam informa√ß√£o), e de  baixa frequ√™ncia com erros (para prevenir overfit)

## Atividade 02

### Bag of wods: unigramas e bigramas

entrada: tweets sem stopwords
saida: uma coluna para os bigramas por tweet

In [248]:
from sklearn.feature_extraction.text import CountVectorizer
#passado como argumento para evitar outro preprocessamento pelo objeto de contagem
def preprocessador_nulo(texto):
  return texto
#Para n√£o realizar outra tokeniza√ß√£o e remover as hashtags e emojis
def tokenizador_nulo(texto):
  return texto.split(" ")

def ngrams_por_tweet(lista_tokens):

  texto = ""

  for sentenca in lista_tokens:

    texto = texto + " ".join(x for x in sentenca)
  
  # print(texto)

  cv = CountVectorizer(tokenizer = tokenizador_nulo, ngram_range= (1,2))
  bow = cv.fit_transform([texto])

  dicionario = dict(zip(cv.get_feature_names(),bow.toarray().sum(axis=0)))

  return dicionario

tweets['ngrams_por_tweet'] =  tweets['tokens_sem_stopwords'].apply(ngrams_por_tweet)

In [249]:
tweets[tweets.columns[::-1]].head()

                                    ngrams_por_tweet  ... subtask_c
0  {'americans': 1, 'americans take': 1, 'ask': 1...  ...       NaN
1  {'#maga': 1, '#maga #trump2020': 1, '#trump202...  ...       IND
2  {'#china': 1, '#china #tcot': 1, '#kag': 1, '#...  ...       NaN
3  {'piece': 1, 'piece shit': 1, 'shit': 1, 'shit...  ...       NaN
4  {'illegals': 1, 'illegals move': 1, 'liberals'...  ...       NaN

[5 rows x 15 columns]

### Consulta de bases externas

#### Busca de sin√¥nimos e ant√¥nimos

In [ ]:
#fun√ß√£o para descobrir os sin√¥nimos dos tokens da colunas "tokens_sem_stopwords"

import nltk
nltk.download('punkt')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.corpus import wordnet as wn


def busca_sinonimos_antonimos(lista_sentencas_tokenizadas):
  dicionario_sinonimos = dict()
  dicionario_antonimos = dict()

  for sent in lista_sentencas_tokenizadas:
    for palavra in sent:
      sinonimos = []
      antonimos = []
      for syn  in wn.synsets(palavra):
        for l in syn.lemmas():
          if l.name() not in sinonimos:
            sinonimos.append(l.name()) 
          if l.antonyms():
              antonimos.append(l.antonyms()[0].name())
      if len(sinonimos) > 0:
        dicionario_sinonimos[palavra] = sinonimos
      if len(antonimos) > 0:
        dicionario_antonimos[palavra] = antonimos
    
  return dicionario_sinonimos, dicionario_antonimos

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
tweets['sinonimos_antonimos'] = tweets['tokens_sem_stopwords'].apply(busca_sinonimos_antonimos)
tweets['sinonimos_antonimos']

0        ({'ask': ['ask', 'inquire', 'enquire', 'requir...
1        ({'go': ['go', 'spell', 'tour', 'turn', 'Adam'...
2        ({'amazon': ['amazon', 'virago', 'Amazon', 'Am...
3        ({'someone': ['person', 'individual', 'someone...
4        ({'wanted': ['desire', 'want', 'need', 'requir...
                               ...
13235    ({'sometimes': ['sometimes'], 'get': ['get', '...
13236    ({'shabby': ['moth-eaten', 'ratty', 'shabby', ...
13237    ({'report': ['report', 'study', 'written_repor...
13238    ({'pussy': ['cunt', 'puss', 'pussy', 'slit', '...
13239    ({'vs': ['volt', 'V', 'vanadium', 'atomic_numb...
Name: sinonimos_antonimos, Length: 13207, dtype: object

#### Empath

In [286]:
# !pip install empath
from empath import Empath
lexicon = Empath()


tweets['classific_empath'] = tweets["tweet_tratado"].apply(lexicon.analyze)

### Recupera√ß√£o dos word embeddings

In [276]:
# from gensim.models.doc2vec import TaggedDocument, Doc2Vec
from gensim.models.word2vec import Word2Vec

def word_embedding(lista_sentencas_tokenizadas):
  dicionario_saida = dict()
  model = Word2Vec(lista_sentencas_tokenizadas, min_count=1,size= 50,workers=3, window =2, sg = 1)
  for palavra in model.wv.vocab:
    dicionario_saida[palavra] = model[palavra]

  return dicionario_saida


# word_embedding(tweets['tweet_tokenizado'].apply(lambda l: [item for sublist in l for item in sublist]))#.apply(" ".join))
# tweets['tweet_embeddings'] = tweets['tweet_tokenizado'].apply(lambda l: [item for sublist in l for item in sublist]).apply(word_embedding)
tweets['tweet_embeddings'] = tweets['tweet_tokenizado'].apply(word_embedding)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).

In [279]:
#exemplo dos vetores de cada tweet
print(tweets['tweet_tokenizado'][2])
print(tweets['tweet_embeddings'][2])

[['amazon', 'is', 'investigating', 'chinese', 'employees', 'who', 'are', 'selling', 'internal', 'data', 'to', 'third-party', 'sellers', 'looking', 'for', 'an', 'edge', 'in', 'the', 'competitive', 'marketplace'], ['#amazon', '#maga', '#kag', '#china', '#tcot']]
{'amazon': array([ 0.00708107, -0.00160974, -0.00302817, -0.00557131,  0.00803064,
       -0.00126878,  0.00032594, -0.0044409 , -0.003109  ,  0.00228831,
       -0.00240538,  0.00445926,  0.00242291, -0.00491508,  0.00508993,
       -0.00803601,  0.00654048, -0.00555123,  0.00293973,  0.0090288 ,
       -0.00339887,  0.00253844,  0.00222103,  0.00992467,  0.00517678,
        0.0073553 ,  0.00747471, -0.00740749, -0.00537205,  0.00851592,
        0.00139181,  0.00637761,  0.00542973, -0.0092469 ,  0.00479682,
        0.00642271, -0.00557764, -0.00363793,  0.00676623,  0.00828977,
       -0.00604183,  0.00758583,  0.00558285,  0.00663622,  0.00286959,
       -0.00754548, -0.00605596, -0.00688615, -0.00524256,  0.00821458],
      dtype=float32), 'is': array([ 8.9303234e-05,  3.2977073e-03,  3.2853994e-03, -8.1938021e-03,
        4.1227797e-03, -3.9165950e-04,  1.8597363e-03,  8.7183258e-03,
        9.2859287e-03,  4.6326993e-03,  4.4480287e-03,  2.1137111e-03,
        2.7983307e-03, -6.8373419e-03,  9.2161475e-03,  3.4381961e-03,
        5.2750241e-03,  2.8960847e-03,  9.4811684e-03, -2.1214788e-03,
        3.2035545e-03,  8.0834124e-03, -7.3925708e-03, -7.5222710e-03,
        2.0484882e-03, -8.1787994e-03,  9.3614543e-03,  7.5391652e-03,
        4.5430203e-04, -3.1412556e-03,  6.3887611e-04,  6.6126129e-03,
       -2.9268980e-03, -7.9246629e-03, -6.6232657e-05, -9.2544332e-03,
       -3.2131905e-03,  5.6551290e-03,  1.9070511e-03, -4.4348529e-03,
       -2.4489542e-03,  9.9996466e-04, -6.9742077e-03, -2.4347850e-03,
        8.1953636e-05, -5.3166873e-03, -4.5314235e-05,  3.0841136e-03,
        3.9783381e-03, -8.8015795e-03], dtype=float32), 'investigating': array([ 1.0615704e-03,  1.8477275e-03, -3.3138536e-03,  8.4003266e-03,
        8.1723928e-03,  5.2642697e-03, -8.7384842e-03, -8.2994718e-03,
        9.4507253e-03,  9.8546259e-03, -3.6196532e-03,  4.6566641e-03,
        1.4915577e-03, -3.2847263e-03, -5.7913570e-05,  5.6847604e-03,
       -8.9542354e-03,  4.4744150e-03,  7.8526055e-03, -3.1603780e-03,
        8.6103246e-04, -8.2769844e-04,  4.8081600e-03,  5.5822316e-03,
        7.1922666e-04,  2.3825332e-03, -6.4073601e-03,  4.3969085e-03,
        2.1562811e-03,  6.1206557e-03,  6.2645292e-03, -3.9081569e-03,
       -9.0435809e-03,  9.1644116e-03,  9.3765855e-03, -5.1780000e-05,
       -5.6135561e-03,  4.0140413e-04,  5.8930297e-03,  1.9278817e-03,
        8.3558180e-04,  3.3178225e-03,  7.7295848e-03,  1.1937235e-03,
       -6.9907977e-04, -4.2603780e-03, -2.6421098e-03, -9.8582385e-03,
       -3.7499110e-03, -3.0810139e-03], dtype=float32), 'chinese': array([-3.6286409e-03,  7.7491682e-03, -2.5488515e-03,  8.1832893e-03,
       -2.3971994e-03, -4.1388636e-04, -8.9586647e-03, -5.9478910e-04,
       -6.0727154e-03,  6.3622510e-04,  9.7285844e-03, -1.5483154e-03,
       -1.0270881e-04,  7.3702391e-03, -7.1671950e-03, -6.5488452e-03,
       -3.0387179e-03, -6.7158411e-03,  3.0629018e-03,  5.2235252e-03,
        3.9407909e-03, -5.4755257e-03, -6.0120574e-03, -1.9093265e-04,
        6.0865103e-04,  3.0247327e-03, -1.6840156e-03, -4.9409334e-04,
        8.5174078e-03,  4.4296575e-03,  1.8735250e-03, -3.7650820e-03,
       -8.7600813e-04,  7.1459045e-03, -4.4226656e-03,  9.2248674e-03,
       -6.3216714e-03,  1.5320999e-03,  4.3066018e-03,  9.2530986e-03,
       -7.2750389e-03,  9.3108881e-03, -9.5407864e-05,  7.9568205e-03,
        2.9500462e-03, -5.8225272e-03,  1.8991097e-03, -2.2109787e-03,
       -2.2849918e-03, -9.6351383e-03], dtype=float32), 'employees': array([-0.00308568, -0.00980235, -0.00440924,  0.00881446,  0.00484042,
        0.00391033, -0.00651116, -0.00935936,  0.00201999, -0.00707099,
        0.00081677, -0.00886063, -0.00664638, -0.00068796, -0.0069812 ,
        0.00426838, -0.00986031,  0.00282166, -0.00611894, -0.00775047,
        0.0037997 , -0.00599495, -0.0005405 ,  0.00683622,  0.00215503,
       -0.00635396,  0.00046624,  0.00579823,  0.0075349 , -0.00583952,
        0.00418631, -0.00693475,  0.0034328 ,  0.00560072, -0.00969659,
        0.00685189, -0.00237575,  0.0081982 ,  0.00237795, -0.00653972,
       -0.00085718, -0.00895241,  0.00030476,  0.00058268, -0.00525727,
        0.00676936,  0.00105061,  0.006076  , -0.007165  , -0.00150598],
      dtype=float32), 'who': array([-0.00996166,  0.00585944, -0.0073204 , -0.00074763,  0.00230171,
        0.00281833, -0.00117605, -0.00784282, -0.00518592,  0.00452197,
        0.00455635,  0.0013659 ,  0.00491696,  0.00230982,  0.00908855,
       -0.0017858 , -0.00013955,  0.00099777, -0.00418142, -0.0048881 ,
        0.00666549, -0.00990993, -0.00770123,  0.00280465,  0.00966532,
        0.00634095, -0.00313535, -0.0078421 ,  0.00394523,  0.00096412,
        0.00716107,  0.00461328,  0.00629693, -0.00682344, -0.00865882,
       -0.00806864, -0.00958591,  0.00783996,  0.0003228 ,  0.00421842,
        0.0021628 , -0.00861207, -0.00735607, -0.00481204,  0.00896257,
       -0.00572169, -0.00236751,  0.00946205, -0.00529408,  0.00732495],
      dtype=float32), 'are': array([-5.8128643e-03, -6.5817065e-03, -9.1155684e-03, -1.6893352e-03,
       -4.6037687e-03,  5.9361465e-04,  5.4072468e-03, -6.6225086e-03,
       -2.1315047e-03,  3.2814997e-03, -3.8691836e-03, -7.7970685e-03,
        7.6104021e-03, -3.4530328e-03,  4.9425019e-03, -6.9721080e-03,
        2.8418405e-03,  2.1956868e-03, -8.5494854e-03,  6.8260268e-03,
        6.9065564e-03, -6.0685468e-03, -3.0702273e-03,  6.1159097e-03,
       -5.3579686e-03,  4.2648087e-03, -4.1514672e-03, -5.9378780e-03,
       -1.4290254e-03, -2.8888923e-03,  9.5644697e-05, -4.0598200e-03,
        2.7086304e-03,  5.4494920e-04,  6.3355239e-03, -8.3364295e-03,
        8.4561622e-04, -7.1723945e-05,  2.1791940e-04,  4.2086756e-03,
        8.6208194e-04, -5.1780390e-03, -1.7925275e-03,  2.4368258e-03,
        3.4032441e-03,  3.4101345e-03,  6.1173327e-03, -3.8122640e-03,
        5.1821079e-03,  5.9261457e-03], dtype=float32), 'selling': array([ 0.00723476, -0.00832112, -0.00285352, -0.00602914, -0.00970097,
        0.00320608,  0.00737598, -0.00931111, -0.00212784,  0.00294343,
       -0.00119446,  0.00061226,  0.0077544 , -0.00602525,  0.00475968,
       -0.00844046, -0.00303517,  0.00258367, -0.00530316, -0.00245621,
        0.00785612, -0.00775358, -0.00929626,  0.00800955,  0.00600612,
        0.00205467, -0.00743028, -0.00279356,  0.00742173,  0.00183643,
       -0.00535923, -0.00568486,  0.00830546,  0.00918449, -0.00990939,
        0.00470994,  0.00620306,  0.00045995,  0.00596975, -0.00845783,
        0.00753567, -0.00039431,  0.00359871,  0.00790893,  0.00529638,
       -0.00725849,  0.00640923,  0.00041886, -0.00579812, -0.0050872 ],
      dtype=float32), 'internal': array([-6.6904281e-03,  6.4016017e-03,  3.9350204e-03, -9.5204292e-03,
       -2.0578040e-03, -2.0597496e-03, -2.5939327e-04, -7.1204342e-03,
        7.0988056e-03, -7.4351579e-03,  7.6570059e-03, -5.9015476e-03,
        5.0525251e-04, -2.9426303e-03,  3.7280621e-03,  4.8876912e-03,
        3.6465188e-03, -8.1323013e-03,  7.2599836e-03, -4.5505874e-03,
        9.8426994e-03, -2.8643009e-04,  7.7520814e-03,  4.6665375e-03,
       -1.8867394e-03,  9.2658568e-03,  7.7817799e-03, -4.0412894e-03,
        4.3944446e-03, -1.5003263e-03, -1.3956953e-03,  8.1149638e-03,
       -4.8590344e-03,  8.2438271e-03,  7.9034455e-03,  7.5819977e-03,
        4.2791353e-03,  8.8992796e-04, -1.3294984e-03, -7.5608427e-03,
       -2.9027401e-03,  4.7804948e-04,  3.7015635e-03, -9.5119132e-03,
       -9.1636200e-03, -2.1257037e-03, -6.5902048e-03, -3.7244188e-03,
        4.8732809e-03,  7.9257261e-05], dtype=float32), 'data': array([ 0.00170164, -0.00947584, -0.0059052 , -0.00687972, -0.00795706,
       -0.00772644,  0.00164283, -0.00299798,  0.00146178, -0.00590204,
       -0.00656477, -0.00319035, -0.0020209 , -0.00096735, -0.00840148,
        0.000476  , -0.00375213, -0.00163205,  0.00734432,  0.00436274,
       -0.00249841,  0.00994866, -0.0039843 ,  0.00691326,  0.00263644,
        0.00248456, -0.00159182, -0.0075561 , -0.00673761,  0.00464536,
        0.00448546,  0.00117689,  0.00898043,  0.00166051, -0.00480343,
        0.00513709,  0.00367255, -0.00492156,  0.00598711, -0.00751042,
        0.00656891, -0.00882852,  0.00969507,  0.0076734 , -0.00029595,
        0.00145328, -0.0013857 , -0.00227735, -0.00686664, -0.00218547],
      dtype=float32), 'to': array([ 0.00436448, -0.00160835, -0.00527685,  0.00966209, -0.00037389,
        0.00113274, -0.00331564,  0.00094745, -0.00495395,  0.00737468,
       -0.00327262, -0.00876103, -0.00550431, -0.00993837, -0.00114686,
       -0.00712851,  0.00206325, -0.0005838 , -0.00813739, -0.00762631,
       -0.00464531, -0.00766915,  0.00444731, -0.00735518,  0.00437668,
       -0.00315076,  0.00070097,  0.00382902, -0.00262556,  0.00970107,
        0.00311836, -0.00617663, -0.00303803,  0.00649767, -0.00602885,
       -0.00120882,  0.00544804, -0.00641059, -0.00746336,  0.00734494,
       -0.00767254, -0.00404825, -0.00378898, -0.0088372 ,  0.00328185,
        0.00442479,  0.00210991, -0.00635967, -0.00592371, -0.00182211],
      dtype=float32), 'third-party': array([-3.7276885e-03,  1.2158722e-03, -4.0853363e-03,  8.5160369e-03,
        3.4631293e-03,  3.6698550e-03, -6.5715266e-03,  4.0352615e-03,
        9.8216720e-04, -1.8926660e-04, -4.9493462e-03,  8.6187851e-03,
        5.8365441e-03,  6.6125770e-03, -4.7261566e-03, -9.3015805e-03,
       -4.0086010e-03, -9.6827196e-03, -3.7951300e-05, -5.3506222e-04,
       -2.8302965e-03,  7.1117380e-03,  8.2533220e-03,  4.6426994e-03,
       -5.7538706e-03,  9.5968433e-03,  9.5373103e-03,  2.6948054e-03,
       -6.7493678e-03,  8.5012009e-03, -1.4992752e-03, -7.4291471e-03,
        9.9663129e-03,  3.8310518e-03,  8.9272726e-03, -1.4130399e-04,
       -6.6934144e-03,  5.1724180e-03,  4.6555395e-03,  2.0158396e-03,
       -9.6105253e-03, -6.2515326e-03,  7.4490113e-04, -2.1136103e-03,
        2.7996334e-03, -2.4999315e-03, -2.7592108e-03, -2.6038657e-03,
       -1.8856942e-03,  3.0282777e-04], dtype=float32), 'sellers': array([ 6.7468598e-03, -5.0387653e-03,  1.9826388e-03, -6.9849920e-03,
        5.1907322e-04,  1.0957512e-04, -1.4733090e-03, -7.0287683e-03,
        2.0085580e-03,  1.7739771e-03, -6.4744907e-03,  1.1006668e-03,
       -2.7803397e-03,  4.9540587e-03, -6.6384934e-03,  8.0645818e-04,
        3.8014529e-03,  8.4855044e-03,  8.4440773e-03, -4.3195034e-03,
       -4.1120322e-03, -2.3797180e-03,  4.4380482e-03, -4.2766100e-03,
        6.6299303e-03, -2.5604074e-03, -7.8396136e-03,  7.6611619e-03,
        3.1026620e-03,  6.4579486e-03, -1.2670301e-03,  9.8524950e-03,
        2.8515528e-03, -7.1524233e-03, -2.9369770e-03,  2.8125604e-03,
        8.3197514e-03, -9.4269579e-03, -3.1583225e-03, -5.9856717e-03,
        3.9724138e-04, -7.2108662e-05,  2.3393545e-03,  7.3295750e-04,
       -1.6390547e-03,  9.2804777e-03,  4.7399886e-03, -1.4872684e-03,
        6.5772962e-03,  2.2417931e-03], dtype=float32), 'looking': array([-2.3804433e-03, -1.3246441e-03, -8.1859557e-03, -8.7965336e-03,
        4.1703437e-03,  5.4540038e-03, -4.9079111e-04, -3.9727967e-03,
       -7.6263202e-03,  7.1011200e-03,  2.6753475e-04,  2.2566842e-03,
        8.7838098e-03,  4.6227022e-05, -9.7004268e-03,  4.2488251e-04,
        4.3351627e-03,  4.2523546e-03,  8.2441699e-03,  9.1865249e-03,
       -7.6737166e-03,  5.2270130e-03, -6.7627435e-03,  9.4396053e-03,
        1.5812434e-03,  4.8101461e-03, -7.5523616e-03,  5.9148925e-03,
        1.9810533e-03, -2.1022731e-03, -2.3662027e-03,  6.7974199e-03,
       -3.3039181e-03,  2.5293629e-03, -2.3766954e-03,  3.1670139e-03,
       -9.3176598e-03,  6.7377752e-03,  6.6026337e-03, -9.5781107e-03,
       -3.5997946e-03,  1.0890930e-03,  3.7471859e-03,  1.3232609e-03,
       -8.0659436e-03,  9.5568672e-03,  5.0457299e-04,  4.8463778e-03,
        5.4703210e-03,  1.0284309e-03], dtype=float32), 'for': array([-0.00502646,  0.00616337,  0.00855201, -0.00320062,  0.00885977,
       -0.00943646,  0.00398649,  0.00287443,  0.00111164, -0.00487354,
       -0.00726955, -0.00331193, -0.00524112, -0.00212893,  0.00433566,
       -0.00958671, -0.00543906,  0.00269987,  0.00939057, -0.00195596,
       -0.00404714, -0.00146523, -0.00848719, -0.00560341,  0.0072566 ,
        0.00181044, -0.00519094,  0.0046412 ,  0.00353072, -0.00983677,
        0.00258651,  0.00038711,  0.0038169 , -0.00961611, -0.00594277,
        0.0050388 , -0.00655604,  0.00672587,  0.00698281, -0.00014409,
       -0.00295544, -0.00996579,  0.00833798, -0.00662317, -0.00259824,
        0.00377102, -0.00113626,  0.00424766,  0.00239395, -0.00799427],
      dtype=float32), 'an': array([-0.00202314, -0.00787076,  0.00354689,  0.00251525,  0.00845067,
       -0.00066835,  0.00178016, -0.00296041,  0.00601244, -0.00921927,
        0.00063608, -0.00436413, -0.00130025, -0.00595584,  0.00125717,
       -0.00764568,  0.00379722,  0.00743011, -0.00462196,  0.00814276,
       -0.00971648,  0.0052187 , -0.00909969, -0.00571917, -0.00700273,
       -0.00025043, -0.00696224, -0.00812542, -0.00239203,  0.00829122,
        0.0066605 ,  0.00090033, -0.00530727, -0.00320675,  0.00272893,
        0.00402417, -0.00849137,  0.00725993, -0.00386034,  0.00768654,
        0.00512634, -0.00637035, -0.00427269,  0.00380692, -0.00194389,
        0.00838688,  0.00966466,  0.00933897, -0.00524077, -0.00464568],
      dtype=float32), 'edge': array([ 3.3152956e-03, -9.8140752e-03,  6.7244396e-03,  7.8611057e-03,
       -5.6680441e-03,  2.8512713e-03,  2.8274525e-03,  9.6629849e-03,
        8.6877560e-03, -3.0525783e-03, -7.9384297e-03,  1.5763607e-03,
       -5.5926656e-03,  6.1345571e-03,  2.0351608e-03,  8.0925477e-04,
       -6.4385668e-03, -8.7185455e-03, -8.7688686e-03, -2.7128775e-03,
       -5.7630646e-03, -2.2442888e-03, -9.8999059e-03,  4.8903958e-03,
       -2.0471222e-03,  3.3995593e-03,  4.8963409e-03,  8.1102671e-03,
       -1.3818008e-04, -9.9227810e-03, -4.5704608e-05, -3.0432981e-03,
       -4.2363107e-03,  7.3797048e-05, -7.5048939e-03, -6.8189385e-03,
       -2.2514025e-03, -4.0157107e-03,  4.5438628e-03, -1.1480175e-05,
        4.9275095e-03,  1.7125329e-03,  3.5326495e-03,  9.0563474e-03,
        7.0035495e-03, -5.7313545e-03,  4.8901234e-03, -1.9448088e-03,
       -7.1221041e-03, -4.3041832e-03], dtype=float32), 'in': array([ 0.00100213,  0.00885073, -0.00232273, -0.00660318, -0.00519666,
       -0.00522826,  0.00340045, -0.00915098, -0.00469759,  0.0014671 ,
        0.00893681, -0.00087566, -0.00419929, -0.00233554, -0.00991172,
        0.0036128 ,  0.00186385, -0.00121895, -0.00473252, -0.0035497 ,
       -0.00408245,  0.00636309, -0.00645493,  0.00250271,  0.00420304,
        0.0012317 ,  0.0054502 , -0.00675316, -0.00938844, -0.00395708,
        0.0099734 , -0.00216646,  0.00175231, -0.00723857,  0.0020881 ,
       -0.00885682,  0.00511304,  0.00340566, -0.00861644, -0.00327451,
        0.0038141 ,  0.00508861,  0.0088076 ,  0.00893038, -0.00951783,
        0.00753222, -0.00472261, -0.00244772,  0.00021926,  0.0049369 ],
      dtype=float32), 'the': array([-1.5059458e-03, -5.4453169e-03, -9.4029000e-03,  3.1750954e-03,
       -3.1068381e-03,  6.5774927e-03, -6.5477854e-03,  8.4181698e-03,
       -9.3395775e-04, -3.9829402e-03, -3.4290887e-03,  9.1565251e-03,
       -1.1246257e-03, -9.5096594e-03,  6.4493077e-05, -9.8638097e-03,
        3.6454489e-03, -3.8392402e-03, -2.0748635e-03,  1.0586440e-03,
       -3.3592319e-03,  5.8539039e-03, -2.2218719e-03, -5.5983011e-03,
       -7.0299585e-03, -6.7118942e-03, -7.7754497e-03, -4.8127710e-03,
        9.7181052e-03,  3.2006560e-03, -6.2161437e-03,  4.6389936e-03,
       -8.1004379e-03, -9.6593471e-03,  3.5249684e-03,  7.5654648e-03,
        6.4974502e-03,  1.7028599e-04,  6.3939639e-03,  2.7642483e-04,
       -6.3832738e-03, -7.7805282e-03, -8.8354573e-03,  9.4737699e-03,
        7.1469322e-03,  1.9603390e-03,  5.0696614e-03, -8.2577718e-03,
        8.6628972e-03,  4.4821519e-03], dtype=float32), 'competitive': array([-0.00723519,  0.00664685,  0.00996554, -0.0031003 , -0.0013174 ,
       -0.00640318, -0.00210537, -0.00729163, -0.0030747 , -0.00743159,
       -0.00839255,  0.00846822,  0.00391684, -0.00595591,  0.00729622,
       -0.0063791 , -0.00864882,  0.00866383, -0.00465274, -0.00815425,
        0.00859948,  0.00214703,  0.00402863, -0.00157316, -0.00761349,
       -0.0080919 ,  0.00638737, -0.00347955,  0.00250901,  0.00334006,
        0.00182834,  0.00402813,  0.00278233,  0.00120436, -0.0078867 ,
       -0.00841703,  0.00035746,  0.00080693,  0.0049958 ,  0.00425749,
        0.00462391, -0.00999099,  0.00982952, -0.00668278, -0.00117691,
       -0.00287833, -0.00026668, -0.00409902, -0.00619701,  0.00536619],
      dtype=float32), 'marketplace': array([-4.5930319e-03, -6.7783198e-03, -2.8259007e-03, -4.0175989e-03,
        6.2029189e-03, -6.2909937e-03,  2.0212822e-03, -1.5722453e-03,
        7.5698146e-03,  5.6947307e-03,  7.5171394e-03,  1.0839104e-05,
       -9.2699593e-03,  2.7364254e-04,  9.6995365e-03,  2.1246912e-04,
        4.5292152e-04,  3.2473111e-03,  2.0881721e-03, -1.8626518e-03,
       -1.0136933e-03,  5.1786336e-03, -6.5819314e-03, -4.0648817e-03,
        8.4380349e-03,  2.0337172e-03,  4.4892725e-04, -8.6223017e-03,
        9.2834616e-03, -8.8609019e-03, -3.9459956e-03, -8.0885114e-03,
        2.6225685e-03, -9.4850771e-03,  4.6425224e-03,  3.1965147e-03,
        9.0363203e-03, -7.9726037e-03, -2.1493346e-03, -4.4315304e-03,
       -8.9755254e-03,  9.6034538e-03, -6.2558376e-03, -1.8163535e-03,
       -2.0466845e-03,  1.8434114e-03,  1.7578832e-03,  6.5824585e-03,
       -5.5827582e-03, -6.4480812e-03], dtype=float32), '#amazon': array([-0.00807455, -0.00398044, -0.00638054,  0.00183282, -0.002173  ,
       -0.00827475,  0.00709283,  0.00897556, -0.0006195 ,  0.00756885,
       -0.00572101,  0.005848  , -0.00303053,  0.009093  , -0.00555966,
        0.00998952, -0.00677239, -0.0062044 , -0.00070646,  0.00674357,
       -0.00649981,  0.00774653, -0.00794401, -0.00855177,  0.00810874,
        0.00614783,  0.00265572, -0.00358955, -0.0051109 , -0.00100642,
        0.00377838,  0.00187775, -0.00033218, -0.00045005,  0.00456414,
        0.00350628, -0.00062977,  0.00425425,  0.0025227 , -0.00327245,
       -0.00222287,  0.0065637 ,  0.00648051, -0.00849693, -0.00488211,
        0.00172988,  0.00910306, -0.00049859, -0.00522154, -0.00802987],
      dtype=float32), '#maga': array([-0.00024741, -0.00932324,  0.00963106,  0.00374483, -0.00840152,
        0.00351248, -0.00038382,  0.00524481, -0.00643484,  0.00562447,
        0.00069439,  0.0085937 , -0.00744559,  0.00617892,  0.00594402,
       -0.00314778,  0.00055732, -0.0067597 ,  0.00902681,  0.00561381,
       -0.0007192 , -0.00064593,  0.0080939 , -0.00696249, -0.00184007,
        0.009048  , -0.00404259,  0.0002731 , -0.00805077, -0.0092464 ,
        0.00830508, -0.00315763,  0.00940294, -0.00025072, -0.00488634,
        0.00913436, -0.00460071,  0.00991212,  0.00517945,  0.00769136,
        0.00261315,  0.00078697, -0.00716693, -0.00341835,  0.00488413,
        0.00694101, -0.00911109,  0.00592086,  0.00224937, -0.00797835],
      dtype=float32), '#kag': array([ 0.00696612,  0.00429773,  0.00400037,  0.0079278 , -0.00925911,
       -0.00146032,  0.00926435, -0.00995578,  0.00354949,  0.00038723,
       -0.00924579, -0.00035364,  0.00729689, -0.00342198,  0.00242951,
       -0.00932189,  0.00055114, -0.00064874,  0.00841727,  0.00993214,
        0.00262649, -0.00227613,  0.00303401, -0.00991549,  0.00805334,
        0.00161745, -0.00603514,  0.0017811 ,  0.00967721, -0.00682046,
       -0.00739571, -0.00051873,  0.00366367,  0.00245145,  0.00770522,
        0.00796299,  0.00952659, -0.00778902,  0.00329379, -0.00523403,

In [281]:
tweets.tweet_tratado[1]

'user user go home youre drunk!!! user #maga #trump2020 üëäüá∫üá∏üëä '

### Vetoriza√ß√£o por tfidf

In [265]:
flatten = lambda l: [item for sublist in l for item in sublist]
tweets['tweet_tokenizado'].apply(lambda l: [item for sublist in l for item in sublist]).apply(" ".join)

0        user she should ask a few native americans wha...
1        user user go home youre drunk user #maga #trum...
2        amazon is investigating chinese employees who ...
3        user someone shouldvetaken this piece of shit ...
4        user user obama wanted liberals illegals to mo...
                               ...
13235    user sometimes i get strong vibes from people ...
13236    benidorm ‚úÖ creamfields ‚úÖ maga ‚úÖ not too shabby...
13237    user and why report this garbage we dont give ...
13238                                           user pussy
13239    #spanishrevenge vs #justice #humanrights and #...
Name: tweet_tokenizado, Length: 13207, dtype: object

In [266]:
from sklearn.feature_extraction.text import TfidfVectorizer


tokenizador = TweetTokenizer()
#√© utilizado o mesmo tokenizador para o processo de vetoriza√ß√£o
cv = TfidfVectorizer(tokenizer = tokenizador.tokenize, ngram_range= (1,1))

vetorizacao_unigram = cv.fit_transform(tweets['tweet_tokenizado'].apply(lambda l: [item for sublist in l for item in sublist]).apply(" ".join))

In [267]:
dataframe_vetorizacao_unigram = pd.DataFrame(vetorizacao_unigram.toarray(), columns= cv.get_feature_names())

In [268]:
dataframe_vetorizacao_unigram.head()

   #100thmonkey  #102  #10millionsubscribers  #12  ...    üßê    üßü    üß†    üß°
0           0.0   0.0                    0.0  0.0  ...  0.0  0.0  0.0  0.0
1           0.0   0.0                    0.0  0.0  ...  0.0  0.0  0.0  0.0
2           0.0   0.0                    0.0  0.0  ...  0.0  0.0  0.0  0.0
3           0.0   0.0                    0.0  0.0  ...  0.0  0.0  0.0  0.0
4           0.0   0.0                    0.0  0.0  ...  0.0  0.0  0.0  0.0

[5 rows x 20846 columns]

0        [user, she, should, ask, a, few, native, ameri...
1        [user, user, go, home, youre, drunk, user, #ma...
2        [amazon, is, investigating, chinese, employees...
3        [user, someone, shouldvetaken, this, piece, of...
4        [user, user, obama, wanted, liberals, illegals...
                               ...
13235    [user, sometimes, i, get, strong, vibes, from,...
13236    [benidorm, ‚úÖ, creamfields, ‚úÖ, maga, ‚úÖ, not, to...
13237    [user, and, why, report, this, garbage, we, do...
13238                                        [user, pussy]
13239    [#spanishrevenge, vs, #justice, #humanrights, ...
Name: tweet_tokenizado, Length: 13207, dtype: object
['user', 'liberals', 'are', 'all', 'kookoo']

In [269]:
from sklearn.feature_extraction.text import TfidfVectorizer

tokenizador = TweetTokenizer()

cv2 = TfidfVectorizer(tokenizer = tokenizador.tokenize, ngram_range= (2,2))

vetorizacao_bigram = cv2.fit_transform(tweets['tweet_tokenizado'].apply(lambda l: [item for sublist in l for item in sublist]).apply(" ".join))

In [ ]:
#A visualiza√ß√£o em dataframe n√£o √© poss√≠vel por limita√ß√£o de mem√≥ria ram

#dataframe_vetorizacao_bigram = pd.DataFrame(vetorizacao_bigram.toarray(), columns= cv2.get_feature_names())

In [270]:
vetorizacao_bigram

<13207x130705 sparse matrix of type '<class 'numpy.float64'>'
	with 265934 stored elements in Compressed Sparse Row format>

## rascunhos

In [ ]:
for sent in tweets['tokens_sem_stopwords'][0]:
  for palavra in sent:
    print(palavra)
    if len(wn.synsets(palavra))>0:
      print(wn.synsets(palavra)[0].hypernyms()[0].name())
    

def busca_hiperonimos(lista_sentencas_tokenizadas):
  dicionario_sinonimos = dict()
  dicionario_antonimos = dict()

  for sent in lista_sentencas_tokenizadas:
    for palavra in sent:
      sinonimos = []
      antonimos = []
      for syn  in wn.synsets(palavra):
        for l in syn.lemmas():
          if l.name() not in sinonimos:
            sinonimos.append(l.name()) 
          if l.antonyms():
              antonimos.append(l.antonyms()[0].name())
      if len(sinonimos) > 0:
        dicionario_sinonimos[palavra] = sinonimos
      if len(antonimos) > 0:
        dicionario_antonimos[palavra] = antonimos
    
  return dicionario_sinonimos, dicionario_antonimos

@user
ask
communicate.v.02
native
person.n.01
americans
inhabitant.n.01
take
income.n.01

In [ ]:
import unicodedata
from sklearn.base import BaseEstimator, TransformerMixin

class TextNormalizer(BaseEstimator, TransformerMixin):
  def __init__(self, language='english'):
    self.stopwords = set(nltk.corpus.stopwords.words(language))
    self.lemmatizer = WordNetLemmatizer()
  
  def is_punct(self, token):
    return all(
    unicodedata.category(char).startswith('P') for char in token)
  def is_stopword(self, token):
    return token.lower() in self.stopwords

  def normalize(self, document):

    return [
    self.lemmatize(token, tag).lower()
    for paragraph in document
    for sentence in paragraph
    for (token, tag) in sentence
    if not self.is_punct(token) and not self.is_stopword(token)
    ]


def lemmatize(self, token, pos_tag):
  tag = {
  'N': wn.NOUN,
  'V': wn.VERB,
  'R': wn.ADV,
  'J': wn.ADJ
  }.get(pos_tag[0], wn.NOUN)
  return self.lemmatizer.lemmatize(token, tag)

def fit(self, X, y=None):
  return self
def transform(self, documents):
  for document in documents:
    yield self.normalize(document)